<!DOCTYPE html>
<html lang="en">
  <%- include('auth-pages/partials/header') %>
  <body>
    <%- include('components/header', { userSession:userSession }) %>

    <div class="container mt-4 mb-4">

      <div class="text-center fs-1 mb-3">
        LIST PRODUCT <%= userSession.username %>
      </div>

      <div class="mb-3">
        <a class="btn btn-success" href="/product/<%= userSession.id %>/add">ADD PRODUCT</a>
      </div>

      <form action="/product/<%= userSession.id %>" method="get">
        <div class="input-group mb-4">
          <input type="text" name="search" class="form-control" placeholder="Search name/description">
          <button class="btn btn-small btn-outline-primary" type="submit">Search</button>
        </div>
      </form>

        <div>Sort by :</div>
        <div class="btn-group mb-3">
          <a href="/product/<%= userSession.id %>?sortBy=name" class="btn btn-outline-primary">Name</a>
          <a href="/product/<%= userSession.id %>?sortBy=price" class="btn btn-outline-primary">Price</a>
          <a href="/product/<%= userSession.id %>?sortBy=stock" class="btn btn-outline-primary">Stock</a>
        </div>

      <div>
        <a
          class="btn btn-danger"
          href="/product/<%= userSession.id %>/emptyStock"
          >EMPTY STOCK</a
        >
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NO</th>
            <th>Name Product</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((el,index)=>{%>
          <tr>
            <td><%= index+1 %></td>
            <td><%= el.name %></td>
            <td><%= el.priceRupiah() %></td>
            <td><%= el.stock %></td>
            <td><%= el.Category.name %></td>
            <td>
              <a
                class="btn btn-success me-5"
                href="/product/<%= userSession.id %>/edit/<%= el.id %>"
                >EDIT</a
              >

              <a
                class="btn btn-danger"
                href="/product/<%= userSession.id %>/delete/<%= el.id %>"
                >DELETE</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
