<!DOCTYPE html>
<html lang="en">
  <%- include('auth-pages/partials/header') %>
  <body>

    <%- include('components/header', { userSession:userSession }) %>

    <div class="text-center fs-1 mb-3">
      LIST EMPTY PRODUCT <%= userSession.username %>
    </div>

    <div class="container">
      <a href="/product/<%= userSession.id %>">BACK</a>
      <form action="/product/<%= userSession.id %>/emptyStock" method="get">
        <input type="text" name="search" placeholder="search name product" />
        <input type="submit" value="search" />
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>NO</th>
            <th>Name Product</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((el,index)=>{%>
          <tr>
            <td><%= index+1 %></td>
            <td><%= el.name %></td>
            <td><%= el.priceRupiah() %></td>
            <td><%= el.stock %></td>
            <td><%= el.Category.name %></td>
            <td>
              <a
                class="btn btn-success me-5"
                href="/product/<%= userSession.id %>/edit/<%= el.id %>"
                >EDIT</a
              >

              <a
                class="btn btn-danger"
                href="/product/<%= userSession.id %>/delete/<%= el.id %>"
                >DELETE</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
